<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>liste of owners</title>
</head>
<body>
	<h1 th:text="'Liste Of owners'">owners list</h1>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>FirstName</th>
				<th>LastName</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="owner : ${owners}">
				<td th:text="${owner?.id}">1</td>
				<td th:text="${owner?.firstName}">Joe</td>
				<td th:text="${owner?.lastName}">Buck</td>
			</tr>
		</tbody>

	</table>
</body>
</html>
